<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WeChat">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeChat">
        <activity
            android:name=".Context"
            android:exported="true"
            android:theme="@style/Theme.WeChat.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="WeChat"
            android:icon="@drawable/ic_icon"
            android:theme="@style/Theme.WeChat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>